.gif-demo-image {
    overflow: hidden;
    text-align: left;
    width: 850px;
    position: relative;
    right: 35px;

    > img {
        height: 560px;
    }

    .gif-container {
        position: absolute;
        top: 32px;
        left: 116px;
        height: 464px;
        width: 735px;
        overflow: hidden;
        > img {
            height: 100%;
        }
    }
}

@qcLeftPadding: 60px;
.qc-left-padding {
    padding-left: @qcLeftPadding;
}

.product-header {
    padding-left: @qcLeftPadding;
    .img-content {
        text-align: center;
    }

    h1 {
        color: @darkGrayColor;
        .gothamBookFont(48px);
        line-height: 1;
    }
}

.qc-section {
    .sourceSansProFont(400, 18px);
    .title {
        .gothamBookFont(36px);
        color: @darkGrayColor;
        line-height: 1.2;
    }
    p.description {
        margin-bottom: 0;
        color: @darkGrayColor;
        .gothamBookFont(24px);
        line-height: 1.2;

        b {
            .gothamMediumFont(24px);
        }

        a {
            text-decoration: none;
        }
    }

    a {
        text-decoration: underline;
    }
}

.tag-list {
    list-style: none;
    padding: 0;
    margin: 15px 0;

    li {
        color: @darkGrayColor;
        .gothamMediumFont(22px);
        margin-bottom: 8px;
    }
}

.select2-container {
    //display: inline-block;
    //border: 1px solid @lightGrayColor;
    .select2-choice {
        padding: 20px;
    }
    .select2-results__option {
        .sourceSansProFont(400, 14px);
        color: @darkGrayColor;
    }
    &.select2-container--open{
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    border-width: 0 12px 15px 12px;
                    border-bottom-color: @blueColor;
                }
            }
        }
    }

    .select2-selection--single {
        border-radius: 0;
        border-color: @lightGrayColor;
        height: 70px;
        .select2-selection__rendered {
            padding: 21px;
            padding-right: 45px;
            text-align: left;
            .sourceSansProFont(400, 18px);
            color: @darkGrayColor;
        }
        .select2-selection__arrow {
            height: 68px;
            width: 60px;
            b {
                border-width: 15px 12px 0 12px;
                border-top-color: @blueColor;
                margin: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}
