<!DOCTYPE html>
<html lang="en_AU" class=" js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/examples.css">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/hdx.ico">
    <title>HXL Tag Assist | HDX Tools</title>
    <!-- Hotjar Tracking Code for https://tools.humdata.org --><script>    (function(h,o,t,j,a,r){        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};        h._hjSettings={hjid:793210,hjsv:6};        a=o.getElementsByTagName('head')[0];        r=o.createElement('script');r.async=1;        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;        a.appendChild(r);    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>
</head>
<body class="">
<header class="new-header">
    <div class="global-header homepage-header-user-bg"> <!-- header is streched for the homepage -->
        <div class="container">
            <div class="row paddingRowHack global-header-bg">
                <div class="col-xs-12 paddingLeftHack paddingRightHack global-header-content">
                    <a href="#" data-toggle="dropdown" class="ocha-services">
                        <span class="ocha-logo"></span>
                        OCHA Services
                        <svg class="icon-o-arrow-up" viewBox="0 0 48 48"><path d="M0,34a4,4,0,0,1,1.17-2.83l20-20a4,4,0,0,1,5.66,0l20,20a4,4,0,1,1-5.66,5.66L24,19.66,6.83,36.83A4,4,0,0,1,0,34Z"></path></svg>
                        <svg class="icon-o-arrow-down" viewBox="0 0 48 48"><path d="M48,14a4,4,0,0,1-1.17,2.83l-20,20a4,4,0,0,1-5.66,0l-20-20a4,4,0,0,1,5.66-5.66L24,28.34,41.17,11.17A4,4,0,0,1,48,14Z"></path></svg>
                    </a>
                    <div class="dropdown-menu ocha-services-menu" role="menu">
                        <div class="paddingLeftHack paddingRightHack ">
                            <div class="row">
                                <div class="col-xs-3">
                                    <p class="list-title">
                                        Related Platforms
                                    </p>
                                    <ul class="ocha-links-list">
                                        <li>
                                            <a href="https://centre.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Centre for Humanitarian Data</a>
                                        </li>
                                        <li>
                                            <a href="https://data.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Data Exchange (HDX)</a>
                                        </li>

                                        <li>
                                            <a href="http://hxlstandard.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Exchange Language (HXL)</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <p class="list-title">
                                        Other OCHA Services
                                    </p>
                                    <ul class="ocha-links-list">
                                        <li>
                                            <a href="https://fts.unocha.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Financial Tracking Service (FTS)</a>
                                        </li>
                                        <li>
                                            <a href="https://hum-insight.info/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian InSight</a>
                                        </li>
                                        <li>
                                            <a href="https://www.humanitarianresponse.info" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Response</a>
                                        </li>
                                        <li>
                                            <a href="https://www.unocha.org" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">UN OCHA</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <p class="list-title">
                                        &nbsp;
                                    </p>
                                    <ul class="ocha-links-list">
                                        <li>
                                            <a href="https://reliefweb.int" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Relief Web</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <a href="https://www.unocha.org/ocha-digital-services" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header" class="btn ocha-see-all">
                                        See all
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hdx-header homepage-header-nav-border">
        <div class="container">
            <div class="row paddingRowHack hdx-header-bg">
                <div class="paddingLeftHack paddingRightHack header-nav-border">
                    <div class="header-nav">
                            <span class="hdxLogo table-valign-content">
                                <a class="logo" href="/"><div class="logo-img" alt="Humanitarian Data Exchange Logo"></div><span id="hdxVersion">1.0</span></a>
                            </span>
                        <ul class="mainLinks">
                            <li><a href="/examples/hxl/">HXL Tag Assist</a></li>
                            <li><a href="/wizard/#datacheck">Data Check</a></li>
                            <li><a href="/wizard/#quickcharts">Quick Charts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div role="main">
        <div class="container">
            <div class="row paddingRowHack whiteBackground">
                <div class="hdx-wrapper wrapper no-nav">
                    <div class="hero-section hxl-hero-section">
                        <div class="hero-content">
                            <h1>HXL Tag Assist</h1>
                            <div class="hero-description">Explore popular hashtags and see examples of how our community is using the standard with data on HDX
                            </div>
                        </div>
                        <img src="/assets/images/hxl-assist.svg" class="hero-image">
                    </div>
                    <div class="hxl-section">
                        <div class="hxl-content paddingLeftHack paddingRightHack">
                            <p><strong>HXL (Humanitarian Exchange Language) hashtags</strong><br>define common attributes applied to humanitarian datasets, <br>including region, metadata and manner of response.</p>
                            <div class="row">
                                <div class="col-xs-offset-3 col-xs-3">
                                    <div class="hxl-info-box">
                                        <div class="hxl-info-box-content">
                                            HXL: A simple standard for messy data<br/><br/>
                                            <a href="" class="btn btn-primary">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="hxl-info-box">
                                        <div class="hxl-info-box-content">
                                            Share your data on HDX once completed<br/><br/>
                                            <a href="" class="btn btn-primary">Share data</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hxl-example">
                    <div class="paddingLeftHack paddingRightHack">
                        <div id="header" class="row">
                            <!--<div class="col-xs-12">-->
                                <!--<h1>HXL Tag Assist</h1>-->
                            <!--</div>-->
                            <div class="col-xs-12 mTop20" style="font-size: 16px;">
                                Need help choosing the best HXL hashtags for your data? Find hashtag examples and definitions, and see how data managers are using the hashtags in their data.
                                If you need help, send a tweet to <a href="https://twitter.com/humdata" target="_blank">@humdata</a> with hashtag #HXL or send an email to hdx.feedback@gmail.com.
                                Our team is here to help you. Visit <a href="http://hxlstandard.org" target="_blank">HXL Standard</a> to learn more.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div id="tags" data-spy="affix" data-offset-top="923" data-offset-bottom="310"></div>
                            </div>
                            <div class="col-md-10" id="content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="allow-cookies-container" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 paddingLeftHack paddingRightHack">
                    <div class="row" style="position: relative;">
                        <div class="col-md-9 col-xs-12">
                            HDX Tools, including Quick Charts, HXL Tag Assist and Data Check, aims to help humanitarians to clean and visualize data. The HDX Tools domain is not a secure service. Users should not use HDX Tools to process personal or otherwise sensitive data. Data uploaded to HDX Tools is not retained within the HDX infrastructure, while data downloaded by HDX Tools from public URLs is cached only as long as necessary for processing. Please reach out to hdx.feedback@gmail.com with any related questions or comments.
                        </div>

                        <button class="allow-cookies-continue">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="hdx-footer" id="footer">
        <div class="container">
            <div class="row paddingRowHack" style="background-color: #353535;">
                <div class="">
                    <div class="">
                        <div class="col-xs-12 paddingLeftHack paddingRightHack">
                            <div class="row footer-wrapper">
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img class="logo-gray" src="/assets/images/homepage/logo-tools-gray.png"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 mBottom30">
                                            <div class="titlePlusVersion">
                                                HUMANITARIAN DATA EXCHANGE TOOLS &nbsp; v1.0
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="mailChimpForm">
                                                <div class="subscribeText">Subscribe to our mailing list</div>
                                                <!-- Begin MailChimp Signup Form -->
                                                <div id="mc_embed_signup">
                                                    <form action="//humdata.us14.list-manage.com/subscribe/post?u=ea3f905d50ea939780139789d&amp;id=d996922315" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">

                                                        <div class="six columns left" style="padding-left: 0px;">
                                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
                                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                                        </div>
                                                        <div id="mce-responses" class="clear">
                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <!--
                                                        <div>
                                                          <input type="text" name="b_83487eb1105d72ff2427e4bd7_6fd988326c" tabindex="-1" value="">
                                                        </div>
                                                        -->
                                                        <div class="clear one columns left">
                                                        </div>
                                                    </form>
                                                </div>
                                                <!--End mc_embed_signup-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-offset-1 col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="titlePlusVersion match-logo-margin mBottom20">
                                                OUR OTHER SERVICES
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 other-services">
                                            <a href="https://data.humdata.org" target="_blank">
                                                <img class="logo-hdx" src="/assets/images/homepage/logo-hdx-gray.png">
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-md-4 other-services">
                                            <a href="https://centre.humdata.org" target="_blank">
                                                <img class="logo-centre" src="/assets/images/homepage/logo-centre-gray.png">
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-md-4 other-services">
                                            <a href="https://centre.humdata.org" target="_blank">
                                                <img class="logo-hxl" src="/assets/images/homepage/logo-hxl.svg">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddingRowHack" style="background-color: #252525;">
                <div class="">
                    <div class="">
                        <div class="col-xs-12 paddingLeftHack paddingRightHack">
                            <div class="social-footer">
                                <div class="terms">
                                    <a href="https://data.humdata.org/about/terms" target="_blank">
                                        TERMS OF SERVICE
                                    </a>
                                    <a href="https://github.com/OCHA-DAP" target="_blank">
                                        OPEN SOURCE
                                        <svg class="icon icon-external-link" width="16" height="16" viewBox="0 0 32 32">
                                            <title>external-link</title>
                                            <path d="M24 16c-0.8 0-1.333 0.533-1.333 1.333v8c0 0.8-0.533 1.333-1.333 1.333h-14.667c-0.8 0-1.333-0.533-1.333-1.333v-14.667c0-0.8 0.533-1.333 1.333-1.333h8c0.8 0 1.333-0.533 1.333-1.333s-0.533-1.333-1.333-1.333h-8c-2.267 0-4 1.733-4 4v14.667c0 2.267 1.733 4 4 4h14.667c2.267 0 4-1.733 4-4v-8c0-0.8-0.533-1.333-1.333-1.333z"></path>
                                            <path d="M29.2 3.467c-0.133-0.267-0.4-0.533-0.667-0.667-0.133-0.133-0.4-0.133-0.533-0.133h-8c-0.8 0-1.333 0.533-1.333 1.333s0.533 1.333 1.333 1.333h4.8l-12.4 12.4c-0.533 0.533-0.533 1.333 0 1.867 0.267 0.267 0.533 0.4 0.933 0.4s0.667-0.133 0.933-0.4l12.4-12.4v4.8c0 0.8 0.533 1.333 1.333 1.333s1.333-0.533 1.333-1.333v-8c0-0.133 0-0.4-0.133-0.533z"></path>
                                        </svg>
                                    </a>
                                    <a href="https://data.humdata.org/documentation" target="_blank">
                                        RESOURCES FOR DEVELOPERS
                                    </a>
                                    <a href="https://data.humdata.org/about/license" target="_blank">
                                        DATA LICENSES
                                    </a>
                                    <a href="https://centre.humdata.org/category/blog/" target="_blank">
                                        BLOG
                                        <svg class="icon icon-external-link" width="16" height="16" viewBox="0 0 32 32">
                                            <title>external-link</title>
                                            <path d="M24 16c-0.8 0-1.333 0.533-1.333 1.333v8c0 0.8-0.533 1.333-1.333 1.333h-14.667c-0.8 0-1.333-0.533-1.333-1.333v-14.667c0-0.8 0.533-1.333 1.333-1.333h8c0.8 0 1.333-0.533 1.333-1.333s-0.533-1.333-1.333-1.333h-8c-2.267 0-4 1.733-4 4v14.667c0 2.267 1.733 4 4 4h14.667c2.267 0 4-1.733 4-4v-8c0-0.8-0.533-1.333-1.333-1.333z"></path>
                                            <path d="M29.2 3.467c-0.133-0.267-0.4-0.533-0.667-0.667-0.133-0.133-0.4-0.133-0.533-0.133h-8c-0.8 0-1.333 0.533-1.333 1.333s0.533 1.333 1.333 1.333h4.8l-12.4 12.4c-0.533 0.533-0.533 1.333 0 1.867 0.267 0.267 0.533 0.4 0.933 0.4s0.667-0.133 0.933-0.4l12.4-12.4v4.8c0 0.8 0.533 1.333 1.333 1.333s1.333-0.533 1.333-1.333v-8c0-0.133 0-0.4-0.133-0.533z"></path>
                                        </svg>
                                    </a>
                                    <a href="https://centre.humdata.org/contact-us/" target="_blank">
                                        CONTACT
                                        <svg class="icon icon-external-link" width="16" height="16" viewBox="0 0 32 32">
                                            <title>external-link</title>
                                            <path d="M24 16c-0.8 0-1.333 0.533-1.333 1.333v8c0 0.8-0.533 1.333-1.333 1.333h-14.667c-0.8 0-1.333-0.533-1.333-1.333v-14.667c0-0.8 0.533-1.333 1.333-1.333h8c0.8 0 1.333-0.533 1.333-1.333s-0.533-1.333-1.333-1.333h-8c-2.267 0-4 1.733-4 4v14.667c0 2.267 1.733 4 4 4h14.667c2.267 0 4-1.733 4-4v-8c0-0.8-0.533-1.333-1.333-1.333z"></path>
                                            <path d="M29.2 3.467c-0.133-0.267-0.4-0.533-0.667-0.667-0.133-0.133-0.4-0.133-0.533-0.133h-8c-0.8 0-1.333 0.533-1.333 1.333s0.533 1.333 1.333 1.333h4.8l-12.4 12.4c-0.533 0.533-0.533 1.333 0 1.867 0.267 0.267 0.533 0.4 0.933 0.4s0.667-0.133 0.933-0.4l12.4-12.4v4.8c0 0.8 0.533 1.333 1.333 1.333s1.333-0.533 1.333-1.333v-8c0-0.133 0-0.4-0.133-0.533z"></path>
                                        </svg>
                                    </a>
                                    <span class="separator"></span>
                                    <a href="http://www.twitter.com/humdata" title="Twitter">
                                        <i class="icon icon-twitter"></i>
                                    </a>
                                    <a href="https://github.com/OCHA-DAP" title="GitHub">
                                        <i class="icon icon-github"></i>
                                    </a>
                                </div>
                                <div class="service">
                                    <div class="provided-by">
                                        Service provided by
                                    </div>
                                    <div class="service-details">
                                        <div class="ocha-service">
                                            <img class="ocha-logo lazyloaded" src="/assets/images/homepage/logo-ocha-lockup-white.png">
                                            <div class="spacer"></div>
                                            <div class="ocha-text">
                                                OCHA coordinates the global emergency response to save lives and protect people in humanitarian
                                                crises. We advocate for effective and principled humanitarian action by all, for all.
                                            </div>
                                        </div>
                                        <div class="license">
                                            Except where otherwise noted, content on this site is
                                            licensed under a Creative Commons Attribution 4.0
                                            International license.
                                        </div>
                                        <div class="license-cc">
                                            <svg width="40" height="40" viewBox="0 0 32 32">
                                                <path d="M15.886 28.968c-7.159 0.009-12.857-5.804-12.884-12.802-0.027-7.097 5.847-13.062 12.902-12.881 6.356-0.152 12.793 4.975 12.829 12.839 0.035 7.721-6.201 12.836-12.847 12.844zM15.907 0.254c-9.353-0.056-15.873 7.837-15.907 15.828-0.036 8.503 6.961 15.927 15.827 15.918 8.53-0.009 15.954-6.753 15.885-15.803 0.111-8.79-6.935-15.89-15.805-15.943z"></path>
                                                <path d="M25.263 18.406c-0.958 1.921-3.394 2.767-5.132 2.632-4.489-0.347-5.501-3.918-4.747-6.567 0.701-2.462 3.115-3.831 6.002-3.466 1.667 0.21 2.961 0.886 3.863 2.334-0.818 0.397-1.591 0.773-2.382 1.157-0.165-0.166-0.288-0.268-0.381-0.388-0.535-0.7-1.25-0.982-2.19-0.822-0.93 0.158-1.479 0.714-1.589 1.482-0.117 0.814-0.094 1.668 0.039 2.482 0.126 0.777 0.707 1.336 1.62 1.462 0.99 0.137 1.856-0.059 2.38-0.931 0.065-0.108 0.161-0.201 0.309-0.382 0.728 0.332 1.444 0.658 2.208 1.007z"></path>
                                                <path d="M16.842 13.347c-0.871 0.415-1.613 0.768-2.391 1.138-0.156-0.15-0.304-0.262-0.412-0.4-0.545-0.698-1.269-0.964-2.203-0.797-0.888 0.159-1.44 0.687-1.541 1.432-0.115 0.841-0.101 1.718 0.030 2.557 0.122 0.784 0.725 1.323 1.637 1.444 0.956 0.126 1.8-0.056 2.326-0.887 0.081-0.128 0.193-0.241 0.346-0.43 0.737 0.339 1.452 0.667 2.206 1.014-0.357 0.81-0.978 1.311-1.659 1.759-2.518 1.661-6.749 0.909-7.962-1.851-1.013-2.305-0.422-5.145 1.656-6.505 2.136-1.398 5.664-1.088 7.33 0.691 0.212 0.226 0.376 0.49 0.636 0.834z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/site.js"></script>
    <script type="text/javascript" src="/assets/js/vendor.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script>
        // !function() {
        //     var t;
        //     if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
        //         t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        //         t.factory = function(e) {
        //             return function() {
        //                 var n;
        //                 return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        //             };
        //         }, t.methods.forEach(function(e) {
        //         t[e] = t.factory(e);
        //     }), t.load = function(t) {
        //         var e, n, o, i;
        //         e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        //             o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        //             n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        //     });
        // }();
        // drift.SNIPPET_VERSION = '0.3.1';
        // drift.load('78e66wr87xr8');
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#tags").on("click", function(ev){
                var target = ev.target;
                var targetStr = window.location.href + "#" + target.id;
//                console.log("Target src: " + targetStr);
                if (target.nodeName === "P") {
//                    console.log("clicked " + targetStr);
                    mixpanel.track("link click", {
                        "page title": document.title,
                        "link type": "hxl example tag",
                        "destionation url": targetStr  //misspelled on purpose
                    });
                }
            });
            $("#content").on("click", function(ev){
                var target = ev.target;
                if (target.nodeName === "A") {
                    ev.preventDefault();
                    var targetStr = target.href;
                    var cb = generate_callback(targetStr);
//                    console.log("Target src: " + targetStr);
                    mixpanel.track("link click", {
                        "page title": document.title,
                        "link type": "hxl example link",
                        "destionation url": targetStr  //misspelled on purpose
                    });
                    setTimeout(cb, 500);
                }
            });
            function generate_callback(href) {
                return function() {
                    window.open(href, '_blank');
                }
            }
            // $('#tags').affix({
            //     offset: {
            //         top: 180,
            //         bottom: $('#footer').outerHeight(true)
            //     }
            // });
        });
    </script>
</body>
</html>
