.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.carousel-section {
  height: 400px;
  background-color: #1ebfb3;
}
body {
  background-color: #007CE0;
}
.contentBackground {
  background-color: #eeeeee;
}
.logo .logo-img {
  background-image: url(/assets/images/logo-tools.png);
  background-size: 100%;
  width: 181px;
  min-height: 31px;
}
.logo #hdxVersion {
  left: 181px;
}
.header-fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  top: 0;
}
.header-fixed ~ div[role='main'] {
  margin-top: 78px;
}
.mTB100 {
  margin: 100px 0;
}
h2 {
  margin: 60px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  text-align: center;
}
.tool {
  position: relative;
  margin-bottom: 50px;
}
.tool.with-image {
  padding-top: 50px;
}
.tool.with-image .tool-content {
  height: 355px;
  padding-top: 50px;
}
.tool .tool-image {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 150px;
}
.tool .tool-content {
  height: 305px;
  padding: 1px 50px 50px;
  background-color: #fff;
  text-align: center;
}
.tool .tool-content .description {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  height: 100px;
}
.tool .tool-content .tool-title {
  margin: 30px 0;
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  text-align: center;
}
.tool .tool-content .secondary-actions {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.tool .tool-content .btn-primary {
  margin: 15px 0;
}
.gif-demo-image {
  overflow: hidden;
  text-align: left;
  width: 850px;
  position: relative;
  right: 35px;
}
.gif-demo-image img {
  height: 560px;
}
.qc-left-padding {
  padding-left: 60px;
}
.product-header {
  padding-left: 60px;
}
.product-header .img-content {
  text-align: center;
}
.product-header h1 {
  color: #333333;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}
.qc-section {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.qc-section .title {
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #333333;
  line-height: 1.2;
}
.qc-section p.description {
  color: #333333;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.qc-section a {
  text-decoration: underline;
}
