<!DOCTYPE html>
<html lang="en_AU" class=" js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/tool-picker.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/hdx.ico">
    <title>Quick Charts Wizard | HDX Tools</title>

<body>
    <nav class="tool-picker">
        <ul class="tool-list">
            <li class="tool-item">
                <a href="/"><img class="tool-img" src="/assets/images/hdx-logo-small.png"></a>
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Quick Charts">
                <img class="tool-img" src="/assets/images/logo-quick-charts-small.png">
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
        </ul>
    </nav>

    <div class="tool-container">
        <div class="container-arrow">

        </div>
        <div class="container-padding">
            <div class="tool-content">
                <iframe src="/wizard/quickchart"></iframe>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/assets/js/vendor.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>
