<!DOCTYPE html>
<html lang="en_AU" class=" js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/tool-picker.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/hdx.ico">
    <title>HDX Tools</title>
    <!-- Hotjar Tracking Code for https://tools.humdata.org --><script>    (function(h,o,t,j,a,r){        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};        h._hjSettings={hjid:793210,hjsv:6};        a=o.getElementsByTagName('head')[0];        r=o.createElement('script');r.async=1;        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;        a.appendChild(r);    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>
</head>
<body>
    <nav class="tool-picker">
        <ul class="tool-list">
            <li class="tool-item">
                <a href="/"><img class="tool-img" src="/assets/images/hdx-logo-small.png"></a>
            </li>
            <li class="tool-item data-nav" data-nav="#quickcharts" data-toggle="tooltip" data-placement="right" title="Quick Charts">
                <img class="tool-img" src="/assets/images/logo-quick-charts-small.png">
            </li>
            <!--<li class="tool-item" data-toggle="tooltip" data-placement="right" title="Data Check">-->
                <!--<img class="tool-img" src="/assets/images/coming-soon.png">-->
                <!--<div class="tool-soon">Coming Soon</div>-->
            <!--</li>-->
            <li class="tool-item data-nav" data-nav="#datacheck" data-toggle="tooltip" data-placement="right" title="Data Check">
                <img class="tool-img" src="/assets/images/logo-data-check-small.png">
            </li>
            <!--
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
            <li class="tool-item" data-toggle="tooltip" data-placement="right" title="Coming Soon">
                <img class="tool-img" src="/assets/images/coming-soon.png">
                <div class="tool-soon">Coming Soon</div>
            </li>
            -->
        </ul>
    </nav>

    <div class="tool-container">
        <!--
        <div class="container-arrow">
        </div>
        -->
        <div class="container-padding">
            <div class="tool-content">
                <iframe id="quickcharts-iframe"></iframe>
            </div>
        </div>
    </div>
    <div class="allow-cookies-container" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 paddingLeftHack paddingRightHack">
                    <div class="row" style="position: relative;">
                        <div class="col-md-9 col-xs-12">
                            HDX Tools, including Quick Charts, HXL Tag Assist and Data Check, aims to help humanitarians to clean and visualize data. The HDX Tools domain is not a secure service. Users should not use HDX Tools to process personal or otherwise sensitive data. Data uploaded to HDX Tools is not retained within the HDX infrastructure, while data downloaded by HDX Tools from public URLs is cached only as long as necessary for processing. Please reach out to hdx.feedback@gmail.com with any related questions or comments.
                        </div>

                        <button class="allow-cookies-continue">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/vendor.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script>
        !function() {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                t.factory = function(e) {
                    return function() {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('78e66wr87xr8');
    </script>
    <script>
        var switchApp = function (hash) {
            var urls = {
                '#datacheck': '/wizard/datacheck/import', // /wizard/datacheck/import
                '#quickcharts': '/wizard/quickcharts/import'
            };
            var titles = {
                '#datacheck': 'Data Check | HDX Tools',
                '#quickcharts': 'Quick Charts | HDX Tools'
            };
            console.log('#->' + hash);
            console.log(urls[hash]);
            var fullUrl = urls[hash],
                pageTitle = titles[hash],
                searchUrl;
            document.title = pageTitle;
            var searchStr = window.location.search;
            if (searchStr && searchStr.length > 0) {
                var paramsStr = searchStr.slice(1),
                    params = paramsStr.split("&");
                var paramMap = {};
                $(params).each(function (idx, el) {
                    var elements = el.split("=");
                    paramMap[elements[0]] = elements[1];
                });

                var urlParam = paramMap['url'];
                if (urlParam && urlParam.length > 0) {
                    searchUrl = urlParam;
                }
            }

            if (searchUrl && searchUrl.length > 0) {
                fullUrl += ";url=" + searchUrl;
            }
            $('li.tool-item.data-nav').removeClass('active');
            $('li.tool-item.data-nav[data-nav="'+ hash +'"]').addClass('active');
            $("#quickcharts-iframe").prop("src", fullUrl);
        };
        var initCookiePopup = function (){
            var consent = $.cookie("hdx-tools-cookie-consent");
            if (!consent) {
                $(".allow-cookies-container .allow-cookies-continue").click(function () {
                    $.cookie("hdx-tools-cookie-consent", true);
                    $(".allow-cookies-container").hide();
                });
                $(".allow-cookies-container").show();
            }
        }
        $(document).ready(function(){
            var hash = location.hash || '#quickcharts';
            $('li.tool-item.data-nav').click(function() {
                var hash = $(this).attr('data-nav');
                switchApp(hash);
            });
            switchApp(hash);
            initCookiePopup();
        });
    </script>
</body>
</html>
