<!DOCTYPE html>
<html lang="en_AU" class=" js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/hdx.ico">
    <title>Quick Charts | HDX Tools</title>

<body>

    <header class="newHeader header-fixed">
        <div class="homepage-header-user-bg">
            <div class="container">
                <div class="row paddingRowHack header-user-bg">
                    <div class="col-xs-12 paddingLeftHack paddingRightHack" style="position: relative;">
                        <div class="header-user-box pull-right">
                            <span>
                              &nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-header-nav-border">
            <div class="container">
                <div class="row paddingRowHack header-nav-bg">
                    <div class="span12 paddingLeftHack paddingRightHack header-nav-border">
                        <div class="header-nav">
                            <span class="table-valign pull-left">
                                <span class="hdxLogo table-valign-content">
                                    <a class="logo" href="/"><div class="logo-img" alt="Humanitaria n Data Exchange Logo"></div><span id="hdxVersion">0.0.1Beta</span></a>
                                </span>
                            </span>

                            <div class="table-valign pull-right">
                                <div class="table-valign-content">
                                    <a href="/wizard" >
                                        <div class="submitData">
                                            Try Quick Charts
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main">
        <div id="content" class="container">
            <div class="container">
                <div class="row paddingRowHack toolbarRow">
                    <div class="col-xs-12 paddingLeftHack paddingRightHack">
                        <div class="pull-left">
                            <div class="toolbar">
                                <ol class="breadcrumb">
                                    <li class="home"><a href="/">TOOLS Home</a></li>
                                    <li class="active"><a href="#">Quick Charts</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paddingRowHack">
            </div>
            <div class="container mainContent">
                <div class="hdx-wrapper wrapper no-nav">
                    <div class="row paddingRowHack whiteBackground qc-section">
                        <div class="paddingLeftHack paddingRightHack mTB100">
                            <div class="row">
                                <div class="col-xs-4 product-header" >
                                    <div class="row">
                                        <div class="col-xs-12 img-content">
                                            <img src="/assets/images/logo-quick-charts.png" style="height: 200px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h1>Quick Charts:</h1>
                                            <p class="description">
                                                Automatically generate embeddable, live data charts, graphs and key figures from your spreadsheet
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="gif-demo-image">
                                        <img src="/assets/images/gif-demo.png">
                                        <div class="gif-container">
                                            <img src="/assets/images/quick-charts-rescaled.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingRowHack contentBackground qc-section">
                        <div class="paddingLeftHack paddingRightHack mTB100">
                            <div class="row">
                                <div class="col-xs-6 center">
                                    <img style="height: 600px; padding-top: 175px; padding-bottom: 100px;" src="/assets/images/quick-charts-how.png">
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="title mTop60">
                                                How it works
                                            </p>
                                            <p class="description mTop30">
                                                Quick Charts is powered by <b>HXL tags</b> - a simple standard for interoperable data. Quick Charts scans HXL tags in your spreadsheet to generate bar, pie line charts, and key figures. Supported tags include:
                                            </p>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <ul class="tag-list">
                                                        <li>#country</li>
                                                        <li>#adm1</li>
                                                        <li>#adm2</li>
                                                        <li>#adm3</li>
                                                        <li>#adm4</li>
                                                        <li>#adm5</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="tag-list">
                                                        <li>#affected</li>
                                                        <li>#inneed</li>
                                                        <li>#reached</li>
                                                        <li>#targeted</li>
                                                        <li>#population</li>
                                                        <li>#date</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="description">
                                                If your spreadsheet doesn’t have HXL tags - use <b>HXL Tag Assist</b> to add them or to learn more about how charts are made, see our <b>documentation page</b>.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row paddingRowHack whiteBackground qc-section">
                        <div class="paddingLeftHack paddingRightHack mTB100">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-5">
                                    <p class="title mTop60">
                                        Works with your spreadsheet
                                    </p>
                                    <p class="description mTop30">
                                        Simply select a spreadsheet from an URL or cloud services such as google drive and dropbox.
                                    </p>
                                </div>
                                <div class="col-xs-5 center">
                                    <img style="height: 348px" src="/assets/images/data-source.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingRowHack contentBackground qc-section">
                        <div class="paddingLeftHack paddingRightHack mTB100">
                            <div class="row">
                                <div class="col-xs-6 center">
                                    <img style="height: 151px; margin-top: 30px;" src="/assets/images/share-with.png">
                                </div>
                                <div class="col-xs-5">
                                    <p class="title">
                                        Share with your colleagues + community
                                    </p>
                                    <p class="description mTop30">
                                        Once you create Quick Charts, you can simply embed, download or share the URL
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="examples" class="row paddingRowHack whiteBackground qc-section qc-select-section">
                        <div class="paddingLeftHack paddingRightHack mTB100">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="center qc-select-section">
                                        <p class="title">
                                            See live examples
                                        </p>
                                        <select id="quick-chart-select" style="width: 500px;">
                                            <option value="0" selected="selected">Zika Cases per Country in South and Central America</option>
                                            <option value="1">Madagascar - Cyclone Enawo Needs Assessment Data</option>
                                            <option value="2">Afghanistan - Natural disaster incidents in 2016</option>
                                            <option value="3">Ebola - West Africa - Ebola Treatment Centres, Isolation Wards Hospitals and Transit Centres</option>
                                            <option value="4">INSO Key Data Dashboard, Jan 2016 to July 2017</option>
                                            <option value="5">Chad - Population statistics 2017 (admin 0-3)</option>
                                        </select>
                                        <p class="mTop10">
                                            <a id="quick-chart-dataset" href="#" target="_blank">Go to the dataset</a> or <a href="#">see a list of chart recipes</a>
                                        </p>
                                        <iframe id="quick-chart-iframe" src="" style="border:none; width:100%; min-height:560px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="newFooter">
        <div class="container">
            <div class="row paddingRowHack" style="background-color: rgb(54,54,54);">
                <div class="">
                    <div class="">
                        <div class="span12 col-xs-12 paddingLeftHack paddingRightHack">
                            <div class="row">
                                <div class="span6 col-xs-7">
                                    <div class="row">
                                        <div class="span6 col-xs-12">
                                            <span data-module="hdx_click_stopper" data-module-link_type="footer" data-module-selector=".analytics-footer-license" style="display: none;"></span>
                                            <span data-module="hdx_click_stopper" data-module-link_type="footer" data-module-selector=".analytics-footer-termsofservice" style="display: none;"></span>
                                            <ul class="mainLinks">
                                                <li><a class="analytics-footer-license" href="https://data.humdata.org/about/license">Data Licenses</a></li>
                                                <li><a class="analytics-footer-termsofservice" href="https://data.humdata.org/about/terms">Terms of Service</a></li>
                                                <li><a href="https://data.humdata.org/faq" data-module="hdx_click_stopper" data-module-link_type="footer">Faq</a></li>
                                                <!--<li><a href="http://docs.hdx.rwlabs.org/get-involved/">Feedback</a></li> -->
                                                <li><a href="https://centre.humdata.org/category/blog/" data-module="hdx_click_stopper" data-module-link_type="footer">Blog</a></li>
                                                <li><a href="https://centre.humdata.org/" data-module="hdx_click_stopper" data-module-link_type="footer">Centre</a></li>
                                                <li><a href="https://centre.humdata.org/get-involved/" data-module="hdx_click_stopper" data-module-link_type="footer">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="span6 col-xs-12">
                                            <div class="titlePlusVersion gothamBold10">
                                                HDX Tools &nbsp; v0.0.1Beta
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="span12 col-xs-12">
                                            <div class="mailChimpForm">
                                                <span class="subscribeText">Subscribe to our mailing list.</span>
                                                <!-- Begin MailChimp Signup Form -->
                                                <div id="mc_embed_signup">
                                                    <form action="http://humdata.us14.list-manage.com/subscribe/post?u=ea3f905d50ea939780139789d&amp;id=d996922315" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">

                                                        <div class="six columns left" style="padding-left: 0px;">
                                                            <input style="width: 340px; margin: 0; padding: 5;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
                                                            <input style="height: 44px; margin-left: 20px;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                                        </div>
                                                        <div id="mce-responses" class="clear">
                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <!--
                                                        <div>
                                                          <input type="text" name="b_83487eb1105d72ff2427e4bd7_6fd988326c" tabindex="-1" value="">
                                                        </div>
                                                        -->
                                                        <div class="clear one columns left">
                                                        </div>
                                                    </form>
                                                </div>
                                                <!--End mc_embed_signup-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="offset2 span1 col-xs-offset-1 col-xs-1">
                                    <div class="pull-right ccIcon">
                                        <i class="icon-cc" style="color: white; font-size: 40px; margin-right: 30px;"></i>
                                    </div>
                                </div>
                                <div class="span3 col-xs-3">
                                    <div class="otherLicenseText sspRegular12">
                                        Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a> International license.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row paddingRowHack" style="background-color: #1c1c22;">
                <div class="">
                    <div class="">
                        <div class="span12 col-xs-12 paddingLeftHack paddingRightHack" style="height: 68px;">
                            <div style="margin-top: 20px;">
                                <a href="http://www.twitter.com/humdata" title="Twitter" class="social-icon twitter"></a>
                                <a href="https://github.com/OCHA-DAP" title="GitHub" class="social-icon github"></a>
                                <a href="mailto:hdx@un.org" title="Email Us" class="social-icon email"></a>
                                <a href="https://centre.humdata.org/?feed=rss2" title="Subscribe via RSS" class="social-icon rss"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/vendor.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>
