//HDX Style variables overrides
@generalPath: "/assets";

.select2-container {
    display: inline-block;
}

body {
  background-color: @blueColor;
}

.contentBackground{
  background-color: @extraLightGrayColor;
}

.logo {
  .logo-img {
    background-image: url(/assets/images/logo-tools.png);
    background-size: 100%;
    width: 181px;
    min-height: 31px;
  }
  #hdxVersion {
    left: 181px;
  }
}
